* {
    font-family: Century Gothic;
}

.container {
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left-menu {
    width: 15%;
    height: 1200px;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
}

.left-menu div {
    height: 200px;
    background-color: #DAA06D;
    color: white;
    margin-bottom: 15px;
    text-align: center;
    font-size: 50px;
    line-height: 200px;
    cursor: pointer;
    transition: 200ms;
}

.left-menu div:nth-child(1) {
    margin-top: 20px;
}

.left-menu div:hover {
    transform: scale(1.1);
}

.vivod {
    width: 83%;

}

.vivod-container {
    width: 100%;
    margin: 0 auto;
}

.trend-books {
    margin: 0 auto;
    display: flex;
    padding-bottom: 40px;
    border-bottom: 2px grey dashed;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#search-book {
    width: 50%;
    margin: 0 auto;
    height: 25px;
}

.winx {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 15px;
    transition: 300ms;
}

.winx:hover {
    transform: translateX(20px);
}

.trend-book {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.trend-book img {
    width: 60px;
    height: 60px;

}

.trend-book h2{  
    font-size: 20px;
}